@import url('https://fonts.googleapis.com/css2?family=Mali:wght@500;600;700&family=Monoton&display=swap');

body {
  margin: 0;
  font-family: 'Mali', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #06D6A0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin: 0;
}
